/* 페이지네이션 전체 부분 */
ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

/* 페이지네이션 각자 부분 */
li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 3.019vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* 제일 앞으로 부분 */
li:first-child {
  display: none;
}

/* 제일 뒤로 부분 */
li:last-child {
  display: none;
}

/* 이전 부분 */
li:nth-child(2) {
  font-size: 33px;
}

/* 다음 부분 */
li:nth-child(6) {
  font-size: 33px;
}

/* 선택된 페이지, 비선택된 페이지 구분하기 */
li a {
  text-decoration: none;
  color: var(--Gray-7, #707887);
}
li.active a {
  color: black;
  font-weight: 600;
}
